!!! DOCTYPE html
%html
  %head
    %title My Sweet App
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    = stylesheet_tag "application"

  %body
    %h1 My Sweet App

    / Javascript Libraries
    = javascript_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"
    = javascript_tag "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/js/bootstrap.min.js"
    = javascript_tag "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"

    = javascript_tag "application", :expand => true
