!!! DOCTYPE html
%html{ lang: "en"}
  %head
    %title My Sweet App
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    = stylesheet_tag "application"

  %body
    .container
      %h1.text-center My Sweet App

    / cdnjs libraries
    = javascript_tag "//cdnjs.cloudflare.com/ajax/libs/.min.js"
    = javascript_tag "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/js/bootstrap.min.js"
    = javascript_tag "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"

    = javascript_tag "application", :expand => true
